.auth {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .auth__background {
    background: url('/public/assets/mountains.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  
  .auth__column {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
  }
  
  .auth__container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 1;
    max-height: 90vh;
    overflow: hidden;
  }
  
  .auth__content {
    padding: 2rem;
    overflow-y: auto; /* Scrollbar on inner container */
    max-height: 90vh;
  }
  
  .auth__logo {
    width: 140px;
    display: block;
    margin: 0 auto 1.5rem;
  }
  
  .auth__form {
    display: flex;
    flex-direction: column;
  }
  
  .auth__section--hidden {
    display: none;
  }
  
  .auth__title {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .auth__label {
    margin: 0.5rem 0 0.25rem;
  }
  
  .auth__input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .auth__input--error {
    border: 2px solid red;
  }
  
  .auth__button {
    background-color: #2979ff;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
    margin: 1rem auto 0 auto;
  }
  
  .auth__button:hover {
    background-color: #1565c0;
  }
  
  .auth__switch {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .auth__switch a {
    color: #2979ff;
    text-decoration: none;
  }
  
  .auth__message {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}

.auth__message--error {
  color: red;
}

.auth__message--success {
  color: #2979ff;
}

  @media (max-width: 1000px) {
    .auth {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .auth__column {
      width: 100%;
      background-color: transparent;
      align-items: center;
      padding: 1rem;
    }
  
    .auth__container {
      max-width: 70%;
    }
  
    .auth__logo {
      width: 100px;
      margin: 0 auto;
    }
  }
